<h1>Product List</h1>
<a routerLink="/product/create">Create New Product</a>
<table>
  <tr>
    <td>#</td>
    <td>Name</td>
    <td>Price</td>
    <td>Description</td>
    <td>Category</td>
    <td colspan="2">Action</td>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
   <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category.name}}</td>
    <td><a [routerLink]="['/product/edit', product.id]">Edit</a></td>
    <td><button (click)="deleteProduct(product.id, product.name)">Delete</button></td>
  </tr>
</table>
